/* .box {
  width: 20%;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.gfg {
  margin: 3%;
  position: relative;
}

.first-txt {
  color: white;
  position: absolute;
  top: 17px;
  left: 50px;
}

.second-txt {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

img {
  width: 100%;
}

.container {
  display: flex;
}

.text-block {
  position: absolute;
  bottom: 20px;
  color: white;
}

.vertical {
  border-left: 3px solid black;
  height: 200px;
  position: absolute;
  left: 30%;
  margin-left: -3px;
  top: 300px;
}

.introduction {
} */

html,
body {
  margin: 0;
}

body {
  background-color: teal;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  position: relative;
}

header {
  /* vertically align the sub-header */
  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #31343d;
  color: white;
}

#sub-header {
  display: inline-flex;
  align-items: center;
  width: 15%;
  height: 50px;
  /* background-color: #2a607c; */
  background-color: teal;
}

header nav {
  margin-right: 20px;
  /* makes this flex item align with the right of its container */
  margin-left: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: white;
  text-decoration: none;
}

/* For the strip below the header */
.top-img-strip {
  height: 200px;
  position: relative;
}

.top-img-strip img {
  height: 100%;
  width: 100%;
}

.bottom-right {
  color: white;
  position: absolute;
  float: right;
  bottom: 8px;
  right: 16px;
}

/* For the About Me section */
.container {
  /* background-color: teal;
  height: 200px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.section-title {
  /* width: 10%;
  color: #1abc9c;
  position: absolute;
  left: 10%;
  font-family: monospace;
  font-size: 50px; */

  /* border: 3px solid whitesmoke; */
  width: 7%;
  overflow-wrap: break-word;
  margin-left: 10%;
}

.vertical {
  /* display: inline-block;
  border-left: 3px solid #1abc9c;
  height: 60%;
  position: absolute;
  top: 40px;
  left: 27%; */
  border: 3px solid whitesmoke;
  margin-left: 10%;
}

.introduction {
  /* margin-left: auto;
  margin-right: 50px;
  width: 60%; */
  border: 3px solid whitesmoke;
  /* margin-left: 50px; */

  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: 48px;
}

/* .introduction p {
  overflow-wrap: break-word;
  color: #1abc9c;
  margin-left: auto;
  margin-right: 50px;
  height: 60%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black; 
} */

/* For the Work section */
.container2 {
  /* background-color: teal;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.section-title2 {
  /* width: 10%;
  color: #1abc9c;
  position: absolute;
  left: 10%;
  font-family: monospace;
  font-size: 50px; */
  /* make the title "work" appear at the top of its container */
  /* margin-bottom: auto; */

  /* border: 3px solid whitesmoke; */
  width: 7%;
  margin-left: 10%;
}

.vertical2 {
  /* display: inline-block;
  border-left: 3px solid #1abc9c;
  height: 100%;
  position: absolute;
  left: 27%; */
  border: 3px solid whitesmoke;
  margin-left: 10%;
}

.works-container {
  display: flex;
  flex-wrap: wrap;

  top: 50px;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: 50px;
}

#main-work {
  /* top: 50px;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: 50px; */
  height: 60%;
}

/* @media screen and (max-width: 992px) and (min-width: 769px) {
  .container {
    width: 47%;
  }
  .container2 {
    width: 47%;
  }
} */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  border: 3px solid whitesmoke;
}
