/* .box {
  width: 20%;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.gfg {
  margin: 3%;
  position: relative;
}

.first-txt {
  color: white;
  position: absolute;
  top: 17px;
  left: 50px;
}

.second-txt {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

img {
  width: 100%;
}

.container {
  display: flex;
}

.text-block {
  position: absolute;
  bottom: 20px;
  color: white;
}

.vertical {
  border-left: 3px solid black;
  height: 200px;
  position: absolute;
  left: 30%;
  margin-left: -3px;
  top: 300px;
}

.introduction {
} */

html,
body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;

  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #31343d;
  color: white;
}

#sub-header {
  display: inline-flex;
  align-items: center;
  width: 15%;
  height: 50px;
  background-color: #2a607c;
}

header nav {
  margin-right: 20px;
  /* makes this flex item align with the right of its container */
  margin-left: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #ededf6;
}

.container {
  background-color: teal;
  height: 200px;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;
}

.About-Me {
  width: 10%;
  color: #1abc9c;
  position: absolute;
  left: 10%;
  font-family: monospace;
  font-size: 50px;
}

.vertical {
  display: inline-block;
  border-left: 3px solid #1abc9c;
  height: 60%;
  position: absolute;
  top: 40px;
  left: 27%;
}

.introduction p {
  overflow-wrap: break-word;
  color: #1abc9c;
  margin-left: auto;
  width: 60%;
  margin-right: 50px;
  height: 60%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
}
