/* .box {
  width: 20%;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.gfg {
  margin: 3%;
  position: relative;
}

.first-txt {
  color: white;
  position: absolute;
  top: 17px;
  left: 50px;
}

.second-txt {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

img {
  width: 100%;
}

.container {
  display: flex;
}

.text-block {
  position: absolute;
  bottom: 20px;
  color: white;
}

.vertical {
  border-left: 3px solid black;
  height: 200px;
  position: absolute;
  left: 30%;
  margin-left: -3px;
  top: 300px;
}

.introduction {
} */

html,
body {
  margin: 0;
}

body {
  background-color: teal;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  position: relative;
}

header {
  /* vertically align the sub-header */
  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #31343d;
  color: white;
}

#sub-header {
  display: inline-flex;
  align-items: center;
  width: 15%;
  height: 50px;
  /* background-color: #2a607c; */
  background-color: teal;
}

header nav {
  margin-right: 20px;
  /* makes this flex item align with the right of its container */
  margin-left: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: white;
  text-decoration: none;
}

/* For the strip below the header */
.top-img-strip {
  height: 200px;
  position: relative;
}

.top-img-strip img {
  height: 100%;
  width: 100%;
}

.bottom-right {
  color: white;
  position: absolute;
  float: right;
  bottom: 8px;
  right: 16px;
}

/* For the About Me section */
.container {
  /* background-color: teal;
  height: 200px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  height: 60%;
  margin-bottom: 20px;
}

.section-title {
  /* width: 10%;
  color: #1abc9c;
  position: absolute;
  left: 10%;
  font-family: monospace;
  font-size: 50px; */

  /* border: 3px solid whitesmoke; */
  width: 8%;
  overflow-wrap: break-word;
  margin-left: 10%;
  margin-top: 50px;
}

.vertical {
  /* display: inline-block;
  border-left: 3px solid #1abc9c;
  height: 60%;
  position: absolute;
  top: 40px;
  left: 27%; */
  border: 3px solid whitesmoke;
  margin-left: 10%;
}

.introduction {
  /* margin-left: auto;
  margin-right: 50px;
  width: 60%; */
  border: 3px solid whitesmoke;
  /* margin-left: 50px; */

  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 50px;
}

/* .introduction p {
  overflow-wrap: break-word;
  color: #1abc9c;
  margin-left: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

/* For the Work section */
.container2 {
  /* background-color: teal;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 20px;
}

.section-title2 {
  /* width: 10%;
  color: #1abc9c;
  position: absolute;
  left: 10%;
  font-family: monospace;
  font-size: 50px; */
  /* make the title "work" appear at the top of its container */
  /* margin-bottom: auto; */

  /* border: 3px solid whitesmoke; */
  width: 8%;
  margin-left: 10%;
}

.vertical2 {
  /* display: inline-block;
  border-left: 3px solid #1abc9c;
  height: 100%;
  position: absolute;
  left: 27%; */
  border: 3px solid whitesmoke;
  margin-left: 10%;
}

.works-container {
  display: flex;
  flex-wrap: wrap;

  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: 50px;
}

.works-container img {
  max-width: 100%;
  height: auto;
}

.box {
  position: relative;
}

/* Creates a padding of 30px around the text in the footer,
sets font-family of the text, and centers the text.
Also clears any floating elements on both sides of the text. */
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

/* Sets the size of the h4 header in the footer tags to be 20px. */
footer h4 {
  font-size: 20px;
  padding: 10px;
}

/* Centers the text of the two links in the Contact Me footer */
footer p {
  text-align: center;
}

#email {
  color: white;
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  /* .container h2 div {
    flex-direction: column;
    width: 47%;
  } */

  .container .section-title {
    width: 8%;
  }
}

@media screen and (max-width: 769px) {
  .container {
    flex-direction: column;
    width: 90%;
  }
  .container .section-title {
    text-align: center;
    width: 20%;
    flex-wrap: nowrap;
  }
  .container .introduction {
    margin-top: 25px;
  }

  .container2 {
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
  }
  .container2 .section-title2 {
    text-align: center;
    width: 20%;
    flex-wrap: nowrap;
  }
  /* .container2 .works-container {
    margin-top: 25px;
  } */

  .works-container {
    /* background-color: black;
    transform: scale(0.5, 0.6);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0; */

    /* transform: scale(0.5, 0.6); */

    /* margin-left: auto;
    margin-right: 50px;
    margin-top: 50px;
    width: 60%; */
    /* background-color: black;
    display: flex;
    flex-direction: row; */

    margin-top: 25px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  border: 3px solid whitesmoke;
}
